img{
     display: block;
     margin: auto;
     width: 25%;
     height: auto;
}

body, head{
     background-color: antiquewhite;
     margin: auto;
     padding-left: 15%;
     padding-right: 15%;
}

.head{
     text-align: center;
     font-family:'Courier New', Courier, monospace;
     font-size: 40px;
}
.head.secHead{
     font-size: 30px;
     text-decoration-line: underline;
}

.list, .para{
     text-align:justify;
     font-size: large;
     font-weight: 500;
     font-family: 'Courier New', Courier, monospace;
     font-size: 20px;
}